{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>
         {% comment %}
        <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search">
        </svg>
         {% endcomment %}
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-search">
           <path d="M26.66 25.72L23.1 22.16C24.92 20.12 26.03 17.45 26.03 14.51C26.02 8.16 20.86 3 14.51 3C8.16 3 3 8.16 3 14.51C3 20.86 8.16 26.02 14.51 26.02C17.38 26.02 20.01 24.96 22.03 23.21L25.6 26.78C25.75 26.93 25.94 27 26.13 27C26.32 27 26.51 26.93 26.66 26.78C26.95 26.49 26.95 26.01 26.66 25.72ZM4.5 14.51C4.5 8.99 8.99 4.5 14.51 4.5C20.03 4.5 24.52 8.99 24.52 14.51C24.52 17.29 23.38 19.8 21.55 21.62C21.54 21.63 21.52 21.63 21.51 21.64C21.51 21.64 21.51 21.66 21.49 21.66C19.68 23.43 17.22 24.52 14.5 24.52C8.98 24.52 4.49 20.03 4.49 14.51H4.5Z" fill="#211E23"/>
         </svg>
        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div
      class="search-modal modal__content gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <svg class="icon icon-close" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-reset">
              </svg>
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              {% comment %}
              <svg class="icon icon-search" aria-hidden="true" focusable="false">
                <use href="#icon-search">
              </svg>
              {% endcomment %}
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-search">
                <path d="M26.66 25.72L23.1 22.16C24.92 20.12 26.03 17.45 26.03 14.51C26.02 8.16 20.86 3 14.51 3C8.16 3 3 8.16 3 14.51C3 20.86 8.16 26.02 14.51 26.02C17.38 26.02 20.01 24.96 22.03 23.21L25.6 26.78C25.75 26.93 25.94 27 26.13 27C26.32 27 26.51 26.93 26.66 26.78C26.95 26.49 26.95 26.01 26.66 25.72ZM4.5 14.51C4.5 8.99 8.99 4.5 14.51 4.5C20.03 4.5 24.52 8.99 24.52 14.51C24.52 17.29 23.38 19.8 21.55 21.62C21.54 21.63 21.52 21.63 21.51 21.64C21.51 21.64 21.51 21.66 21.49 21.66C19.68 23.43 17.22 24.52 14.5 24.52C8.98 24.52 4.49 20.03 4.49 14.51H4.5Z" fill="#211E23"/>
                </svg>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
        <button
          type="button"
          class="search-modal__close-button modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
